@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {    
    --bg-01: #040504;
    --bg-02: #0c0f0b;
    --bg-03: #151d14;
    --bg-04: #262d26;
    --bg-05: #373e37;

    --fg: #e0e0e5;
    --fg-01: #959595;
    --fg-02: #4f4f4f;
    --fg-03: #575a62;

    --orange-01: #fdbf90;
    --orange-02: #3e3b37;
    --orange-03: #050504;

    --blue-01: #90e6fd;
    --blue-02: #37383e;
    --blue-03: #040405;

    --gray-01: #afafaf;
    --gray-02: #262d26;
    --gray-03: #0c0f0b;

    --code: "Geist Mono";
    --font-01: "Ledsim";
    --font-02: "Pacifico";

    --rd-box: 10px;
}

@font-face {
    font-family: 'Ledsim';
    src: url('/fonts/Ledsim.ttf') format(TrueType);
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico.ttf') format(TrueType);
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    font-family: var(--font-02);
    font-family: "Geist", sans-serif;
}

/*=== Normal Text ===*/
p, li { color: var(--fg-01); line-height: 1.7; }
strong {  color: var(--fg); font-weight: 500; }
em { color: var(--fg); font-style: italic; font-weight: 500; }

body {
    overflow: hidden;
    background-color: var(--bg-01);
}

.docs-container {
    display: grid;
    position: relative;
    overflow: hidden;
    max-width: 1420px;
    margin: 0 auto;
    grid-template-columns: 1fr 10fr 100fr 10fr 1fr;
    height: 100dvh;
}

.draw-line {
    width: 12px;
    height: 100%;
    background-image: url('/Lines.svg');
    background-size: 50px;
    border-left: 1px solid var(--bg-03);
    border-right: 1px solid var(--bg-03);
}