@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {    
    --bg-01: #040504;
    --bg-02: #0c0f0b;
    --bg-03: #1a1e1a;
    --bg-04: #282c28;
    --bg-05: #373e37;
    --bg-06: #080a08b8;

    --fg: #e0e0e5;
    --fg-01: #848484;
    --fg-02: #4f4f4f;
    --fg-03: #b2b8ab;

    --orange-01: #cbbdaf;

    --code: "Geist Mono";
    --font-01: "Game";
    --font-02: "Devil";

    --rd-10: 10px;
    --rd-8: 8px;
    --rd-6: 6px;
    --rd-4: 4px;
}

@font-face {
    font-family: 'Game';
    src: url('/fonts/Game.ttf') format(TrueType);
    font-style: normal;
}

@font-face {
    font-family: 'Devil';
    src: url('/fonts/Devil.ttf') format(TrueType);
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: var(--font-02);
    font-family: "Geist", sans-serif;
}

/*=== Normal Text ===*/
p { color: var(--fg-01); line-height: 1.7; }
strong {  color: var(--fg); font-weight: 500; }
em { color: var(--orange-01); font-style: italic; font-weight: 500; }

body {
    overflow: hidden;
    background-color: var(--bg-01);
}

.main-container {
    max-width: 1420px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 100fr 1fr;
    height: 100dvh;

    &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 500px;
        height: 500px;
        z-index: -1;
        background-image: url('/Lines.svg');
        background-size: 90px;
        opacity: 0.8;
        mask-image: linear-gradient(50deg, var(--bg-01), transparent 60%);
    }

    &::after {
        position: absolute;
        content: '';
        top: -250px;
        left: -60px;
        width: 100%;
        height: 600px;
        background-image: url('/Lines.svg');
        background-size: 90px;
        opacity: 0.8;
        z-index: -1;
        mask-image: radial-gradient(var(--bg-01), transparent);
    }
}

@media screen and (max-width: 1500px) {
    .docs-container { padding: 0 40px; }
}

.cursor {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border: 2px solid var(--bg-04);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(0px, 0px);
    transition: background-color 0.2s ease;
    z-index: 1000;
    overflow: hidden;
    
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-06);
        opacity: 0.8;
    }
}