.md-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100dvh - 60px);
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;

    &::before, &::after {
        position: absolute;
        content: '';
        top: -50px;
    }

    &::after {
        top: -100px;
        left: 0;
        width: 100%;
        height: 500px;
        opacity: 0.8;
        background-image: url('/Lines.svg');
        background-size: 100px;
        mask-image: radial-gradient(var(--bg-01), transparent 80%);
    }

    .banner {
        display: grid;
        z-index: 1;

        h1 {
            display: grid;
            font-size: clamp(25px, 5vw, 40px);
            letter-spacing: 0;
            line-height: 1.3;
            font-weight: 900;
            
            span { font-weight: 600; font-size: 25px; }
        }
        
        .ads {
            display: flex;
            align-items: center;
            color: var(--fg);
            gap: 10px;

            span {
                font-size: 30px;
                color: #ffd6b4;
            }
        }
    }
}

/*=== Number Lists ===*/
ol {
    width: 100%;
    padding-left: 25px;
    border-left: 1px solid var(--bg-02);
    position: relative;
    
    &::before, &::after {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        background-color: var(--bg-05);
        border-radius: 50%;
    }
    &::before { top: 0; left: -3px; }
    &::after { bottom: 0; left: -3px; }
    
    li { list-style: none; }
}

/*=== Point Lists ===*/
ul {
    display: grid;
    padding-left: 20px;
    list-style: disc;

    li { 
        color: var(--fg-01);
        font-size: 15px;
        line-height: 1.9;
    }
    
    li strong, li em {
        font-size: inherit;
        position: relative; 
        font-family: var(--code);
    }
}

/*=== Prose ===*/
.prose {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
        color: var(--fg);
        position: relative;
        font-weight: 600;
    }
    
    h2 { font-size: 23px; }

    h3 { 
        font-size: 20px;
        margin-bottom: 10px;   
    }
    
    h4 { height: 25px; }   
    
    h5 { font-weight: 500; font-size: 16px; }

    a { 
        color: #afcdeb;
        white-space: nowrap;
        text-decoration: none;
        font-weight: 400;
    }
}

/*=== images ===*/
.img {
    --padding-top: 5px;
    --padding-bottom: 0;

    width: 100%;
    position: relative;
    overflow: hidden;
    padding: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    border: 1px solid var(--bg-02);
    background-color: var(--bg-01);
    border-radius: var(--rd-box);

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 0;
        background-image: url('/Squares.svg');
        background-size: 120px;
        mask-image: linear-gradient(To bottom, var(--bg-01), transparent);
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 200px;
        height: 200px;
        filter: blur(100px);
        z-index: 0;
        background-color: #2329349e;
    }

    img {
        position: relative;
        max-width: 100%;
        border-radius: 8px;
        border: 1px solid var(--bg-02);
        z-index: 1;
    }
}

/*=== Code ===*/
.prose pre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: var(--rd-box);
    background-color: var(--bg-06);
    border: 1px solid var(--bg-03);
    background-image: url('/Lines.svg');
    background-size: 40px;

    .top-line {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid var(--bg-03);
        background-color: var(--bg-01);

        span {
            padding: 0 15px;
            height: inherit;
            display: grid;
            place-items: center;
            font-size: 14px;
            font-weight: 500;
            color: var(--fg);

            &:first-child {
                border-bottom: 1px solid var(--orange-01);
            }
        }

        button {
            position: absolute;
            top: 8px;
            right: 8px;
            width: auto;
            padding: 3px 5px;
            border: 1px solid var(--bg-04);
            background-color: var(--bg-02);
            border-radius: calc(var(--rd-box) - 4px);
            color: var(--fg-01);
            font-weight: 500;
            font-size: 12px;
        }
    }

    code {
        width: 100%;
        max-width: 100%;
        font-weight: 500;
        font-size: 14px;
        padding: 15px;
        overflow-x: auto;
        position: relative;
        text-overflow: ellipsis;
        color: var(--fg-02);
        font-family: var(--code);
        background-color: transparent;

        .line {
            .line-number {
                width: 100px;
                text-align: right;
                color: var(--fg-01);
                margin-right: 30px;
                background-color: var(--bg-02);
            }
        }

        span {
            font-weight: inherit !important;
            font-family: inherit;
            font-size: inherit;
            color: #4f514d;
        }
        
        .hljs-title.class_ { color: #b2b8ab; }
        .hljs-keyword { color: #9ea398; }
        .hljs-name { color: #aeb4a9; }
        .hljs-string { color: #94998f; }
        .hljs-number { color: #888d84; }
        .hljs-attr { color: #7d8278; }
        .hljs-variable { color: #a1a79c; }
        .function_ { color: #c4cabf; font-weight: 600; }
        .hljs-comment { color: #5e635b; }
        .hljs-built_in { color: #b9c0b3; font-weight: 600; }
        .hljs-params { color: #747870; }
    }
}

p, li, span {
    --radius: 8px;
    --padding: 1px 5px;

    code {
        white-space: nowrap;
        font-size: 13px;
        font-family: var(--code);
        color: var(--fg);
        background-color: var(--bg-02);
        border: 1px solid var(--bg-04);
        padding: var(--padding);
        border-radius: var(--radius);
        font-weight: 500;
    }
}

/*=== Quotes dialog ===*/
.info, .warning, .tip {
    width: 100%;
    position: relative;
    border: 1px solid var(--bg-03);
    padding: 10px 25px;
    border-radius: calc(var(--rd-box) - 8px);
    background-color: var(--bg-06);

    h6 {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-weight: 500;
        font-size: 11px;
        border-radius: calc(var(--rd-box) - 10px);
        padding: 1px 5px;
    }
    
    p { 
        color: var(--fg-02);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.6;
        font-style: italic;
        
        strong, em {
            font-size: inherit;
            line-height: inherit;
            font-family: inherit;
            font-style: inherit;
            color: var(--fg);
        }
    }

    &::before {
        position: absolute;
        content: '';
    }

    &::before {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 2px;
        height: calc(100% - 20px);
        border-radius: var(--rd-box);
    }
}

.tip {
    h6 { 
        color: var(--fg);
        background-color: var(--bg-03);
        border: 1px solid var(--bg-04);
        backdrop-filter: blur(3px);
    } &::before { background-color: #747870; }
}

.info { 
    h6 { 
        color: #88a8ff;
        background-color: #88a4ff21;
        border: 1px solid #8898ff21;
        backdrop-filter: blur(3px);
    } &::before { background-color: #5174ff; }
}

.warning {
    h6 { 
        color: #ffba88;
        background-color: #ffb28821;
        border: 1px solid #ffb28821;
        backdrop-filter: blur(3px);
    }
    &::before { background-color: #ff7e43; }
}

/*=== Table ===*/
table {
    width: 100%;
    overflow: hidden;
    border-radius: var(--rd-box);

    --radius: 8px;
    --padding: 5px 10px;

    thead {
        th {
            white-space: nowrap;
            font-weight: 500;
            color: var(--fg);

        }
    }

    th, td {
        font-size: 14px;
        padding: var(--padding);
        text-align: left;
        white-space: nowrap;
    }

    tbody {
        width: 100%;
        overflow: hidden;
        border-collapse: collapse;

        tr { 
            width: 100%; 
            overflow: hidden;
        }
        
        td {
            color: var(--fg-01);
            box-sizing: border-box;
            overflow: scroll;
            text-overflow: ellipsis;
            max-width: 400px; 
            border-bottom: 1px solid var(--bg-03);

            &:nth-child(1) {
                color: var(--orange-01);
                font-weight: 500;
                font-family: var(--code);
            }

            em { font-size: 13px; font-weight: 500; }
            strong { font-size: 13px; font-weight: 500; }
            code { 
                white-space: nowrap;
                font-size: 13px;
                font-family: var(--code);
                color: var(--fg);
                background-color: var(--bg-02);
                border: 1px solid var(--bg-04);
                padding: 1px 5px;
                border-radius: var(--radius);
                font-weight: 500;
            }
        }
    }
}

@keyframes increase {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 18px;
        height: 18px;
        opacity: 0;
    }
}

@media screen and (max-width: 1420px) {
    .fluid-container {
        max-width: 900px;
        margin: 0 auto;
    }
}