.primary-menu, .secondary-menu {  
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    max-width: 280px;
    min-width: 280px;
    height: calc(100dvh - 60px);

    .tree {
        width: 100%;
        
        h3 {
            display: flex;
            align-items: center;
            position: relative;
            color: var(--fg);
            font-weight: 500;
            gap: 10px;  
        }
        
        .float-span {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-weight: 500;
            font-family: var(--font-01);

            svg {
                background-color: transparent;
                color: var(--fg-01);
                border: none;
                stroke-width: 4px;
                width: 20px;
            }
        }
        
        span {
            display: block;
            max-width: 95%;
            font-size: 16px;
            position: relative;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        svg {
            width: 25px;
            height: 25px;
            padding: 5px;
            background-color: var(--bg-02);
            border: 1px solid var(--bg-04);
            border-radius: var(--rd-6);
        }

        .tree-links {
            display: grid;
            position: relative;
            padding: 10px 0 10px 25px;

            a {
                width: 100%;
                padding: 5px 0;
                font-size: 16px;
                color: var(--fg-01);
                text-decoration: none;
                white-space: nowrap;
                transition: 200ms;
                outline: 1px solid transparent;
            }

            a.active { 
                font-weight: 500;
                color: var(--fg);
                padding: 5px 15px;
                border-radius: var(--rd-8);
                outline-color: var(--bg-04);
                background-color: var(--bg-06);
                &::before { background-color: var(--fg); }
            }
        }

        .tree-links-tags { a { padding: 3px 0; color: var(--fg-02); } }
    }


    .tree-2, .tree-3 { padding: 5px 0 5px 25px; }

    .tree-links {
        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            width: 1px;
            height: calc(100% - 20px);
            background-color: var(--bg-03);
        }
    }

    .tree-3::before { border-color: var(--bg-03); }
}

h6 {
    color: var(--fg-02);
    font-size: 13px;
    font-weight: 500;
}

.settings-menu {
    width: 100%;
    padding: 15px;
    background-color: var(--bg-06);
    border: 1px solid var(--bg-03);
    border-radius: var(--rd-8);
    
    h1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--fg);
        font-weight: 400;
        font-family: var(--font-01);
        font-size: 20px;
    }

    .change-theme {
        display: flex;
        gap: 5px;

        svg {
            width: 25px;
            height: 25px;
            padding: 5px;
            border-radius: var(--rd-6);
            border: 1px solid var(--bg-04);
        }
    }
}

.primary-menu { 
    border-right: 1px solid var(--bg-02);
    padding: 20px 20px 20px 0;
}

.secondary-menu { 
    border-left: 1px solid var(--bg-02);
    padding: 20px 0 20px 20px;
}

@media screen and (max-width: 1400px) {
    .secondary-menu { display: none; }
}