header {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    height: 60px;
    display: grid;
    place-items: center;
    grid-template-columns: 100fr 1fr;
    background-color: var(--bg-01);
    border-bottom: 1px solid var(--bg-03);
    border-left: 1px solid var(--bg-03);
    border-right: 1px solid var(--bg-03);

    .cont-links {
        width: 100%;
        min-width: 270px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        height: 35px;
        gap: 10px;
        border-left: 1px solid var(--bg-04);

        a {
            width: 100%;
            display: grid;
            place-content: center;
            white-space: nowrap;
            height: inherit;
            padding: 0 15px;
            font-weight: 600;
            color: var(--fg-01);
            font-size: 14px;
            border-radius: var(--rd-box);
            box-shadow: inset 0 0 5px var(--bg-05);
            background-color: var(--bg-01);
        }
    }
}

.search-cont {
    width: 100%;
    padding: 0 10px;
    
    .search {
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        flex-wrap: nowrap;
        background-color: var(--bg-02);
        border: 1px solid var(--bg-03);
        border-radius: var(--rd-box);
        padding: 0 5px 0 10px;
        
        svg {
            width: 20px;
            stroke-width: 2.2px;
            color: var(--fg-01);
        }

        span {
            width: 100%;
            font-size: 14px;
            color: var(--fg-01);
        }

        .command {
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding: 4px 10px;
            font-weight: 600;
            border-radius: calc(8px - 1px);
            font-size: 12px;
            color: var(--fg);
            background-color: var(--bg-04);
        }
    }
}

.results-container {
    display: none;
    place-items: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 10px;
    backdrop-filter: brightness(0.5);
    
    .results-content {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: grid;
        gap: 10px;
        
        .scroll { 
            display: grid;
            gap: 10px;
            height: 100%;
            padding: 10px;
            height: auto;
            max-height: 600px;
            overflow-y: scroll;
            border: 1px solid var(--bg-04);
            background-color: var(--bg-01);
            border-radius: 6px;

            article {
                display: grid;
                gap: 10px;
                background-color: var(--bg-02);
                padding: 15px;
                position: relative;
                border-radius: inherit;

                h1 {
                    font-family: var(--font-01);
                    color: var(--fg-01);
                    font-size: 16px;
                }

                .float-tags {
                    display: flex;
                    position: absolute;
                    gap: 5px;
                    top: 10px;
                    right: 10px;

                    span {
                        padding: 3px 8px;
                        border-radius: 6px;
                        font-family: var(--code);
                        font-size: 11px;
                    }

                    .type {
                        color: var(--purple-01);
                        border: 1px solid var(--purple-02);
                        background-color: var(--purple-03);
                    }

                    .difficulty {
                        color: var(--orange-01);
                        border: 1px solid var(--orange-02);
                        background-color: var(--orange-03);
                    }
                }

                .cont-tags {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px;

                    span {
                        border-radius: 4px;
                        padding: 3px 8px;
                        font-family: var(--code);
                        font-size: 11px;
                        color: var(--fg-02);
                        border: 1px solid var(--bg-04);
                        background-color: var(--bg-03);
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 1.6;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    max-height: calc(30px * 3);
                }
            }
        }
        
        .search-cont { padding: 0; }
    }
}

.show-search { display: grid; }
.hide-search { display: none; }
.empty-results { padding: 0 !important; border: none !important; }

@media screen and (max-width: 1420px) {
    .draw-line { outline: 1px solid var(--bg-03) !important; }
}
